.DS_Store
Thumbs.db
.idea/
private/
upload/.htaccess

tests/test-config.ini

upload/data/*

!upload/data/attach
upload/data/attach/*
!upload/data/attach/index.php

!upload/data/avatars
upload/data/avatars/*
!upload/data/avatars/index.php

!upload/data/cache
upload/data/cache/*
!upload/data/cache/index.php

!upload/data/logs
upload/data/logs/*
!upload/data/logs/index.php

!upload/data/secure
upload/data/secure/*
!upload/data/secure/index.php

!upload/data/site
upload/data/site/*
!upload/data/site/index.php
