  /*
    Injader Default Theme
    Stylesheet
    Coded by Ben Barden
    
    Feel free to copy this theme and use it to build new themes.
    The whole point of it is to provide a basic functional site
    that can be modified to suit your needs.
    
    If you've got suggestions for this theme, please go to
    http://www.injader.com and you can post them in the
    Suggestions forum.
  */

/* ********************************************** */
/* *              CORE FONT STYLES                */
/* ********************************************** */
body {font-family: Verdana, Arial, sans-serif; font-size: 0.8em; line-height: 1.65em;}
h1, h2, h3, h4 {font-family: Arial, Helvetica, sans-serif; font-weight: bold;}
h1 {font-size: 150%;}
h2 {font-size: 140%;}
h3 {font-size: 130%;}
h4 {font-size: 120%;}
h1 a, h2 a, h3 a, h4 a {text-decoration: none;}
.smalltext, .navtext {font-size: 90%;}
input, option {font-size: 90%;}
a, a:link, a:active {color: #00e;}
a:visited {color: #551A8B;}
a:hover {color: #f00;}

/* ********************************************** */
/* *              TEMPLATE STYLES                 */
/* ********************************************** */

/* Wrapper Styles */
body {background-color: #fff; color: #000;}
body {margin: 0; padding: 0;}
#tplMajWrapper {background-color: #fff; color: #000;}
#tplMajWrapper {width: 100%; padding: 0;}

/* Header Styles */
#tplMajHeader {background-color: #fff; color: #000; margin-bottom: 1px;}
#tplMajHeader {height: 70px; margin: 0; padding: 10px;}
#tplMajHeader h1 {font-size: 260%; font-weight: bold; margin: 10px 0 0 5px; text-align: left;}

/* Navbar Styles */
#tplMajNavbar {background-image: url('images/nav-gradient.jpg'); background-position: center center; background-color: #9cc; color: #000;}
#tplMajNavbar {font-weight: bold; line-height: 1.2em; margin: 0; padding: 10px 0;}
#tplMajNavbar ul li.off, #tplMajNavbar ul li a:link, #tplMajNavbar ul li a:visited {background-color: transparent; color: #000;}
#tplMajNavbar ul li.on, #tplMajNavbar ul li a:link.on, #tplMajNavbar ul li a:visited.on, #tplMajNavbar ul li a:hover {background-color: #ccc; color: #000;}
#tplMajNavbar ul li.on {border: 1px solid #000;}

/* Content Styles */
.content {vertical-align:top;}
#tplMajContent {background-color: #fff; color: #000; padding: 10px;}
#tplMajContent {border-left: 1px dotted #666; border-right: 1px dotted #666;}

/* Sidebar Styles */
.sidebar {font-size: 90%; line-height: 1.3em; width: 150px; padding: 10px; vertical-align: top;}
.sidebar h2 {background-color: #ccc; color: #000; font-size: 130%; font-weight: bold; margin: 10px 0 10px 0; padding: 8px;}
#tplMajLeftSide {background-color: #fff; color: #666;}
#tplMajRightSide {background-color: #fff; color: #666;}

/* Footer Styles */
#tplMajFooter {background-image: url('images/nav-gradient.jpg'); background-position: center center; background-color: #9cc; color: #000;}
#tplMajFooter .Navigator a {color: #000;}

/* ********************************************** */
/* *              RELATED CONTENT                 */
/* ********************************************** */
#mRelated {}
#mRelated p {font-size: 120%;}
#mRelated ul {list-style-type: none; margin: 0; padding: 0;}
#mRelated ul li {font-size: 90%; font-weight: normal; margin: 5px; padding: 2px 5px;}
#mRelated ul li * {}
.mRelatedMatches {font-style: italic;}

/* ********************************************** */
/* *                NAVBAR STYLES                 */
/* ********************************************** */
#tplMajNavbar ul {margin: 0px 4px; padding: 0; text-align: left;}
#tplMajNavbar ul li.off, #tplMajNavbar ul li.on {display: inline; list-style: none; margin: 2px; padding: 4px; text-align: center; white-space: nowrap;}
#tplMajNavbar ul li a:link, #tplMajNavbar ul li a:visited, #tplMajNavbar ul li a:hover {padding-left: 0.1em; width: auto;}
#tplMajNavbar ul li a:link, #tplMajNavbar ul li a:visited, #tplMajNavbar ul li a:link.on, #tplMajNavbar ul li a:visited.on, #tplMajNavbar ul li a:hover {text-decoration: none;}

/* ********************************************** */
/* *                  COMMENTS                    */
/* ********************************************** */
.comment {color: #000; margin: 0 0 25px 0; }
.comment-avatar {float: left; margin-right: 10px; padding: 1px; border: 1px dotted #304687;}
.comment-author, .comment-author * {color: #304687;}
.comment-author {font-size: 100%; margin: 0; padding: 2px 0px 10px 0px; border-bottom: 1px dotted #304687;}
.comment-author a {color: #304687;}
.comment-content {font-size: 100%; margin: 2px 10px 2px 0; padding: 4px;}
.comment-edit {font-size: 90%; font-style: italic;}
#CommentForm #txtContent {height: 150px; width: 450px;}

/* ********************************************** */
/* *                  FORUM                       */
/* ********************************************** */
.DiscussionTable {background-color: #000; color: #fff;}
.DiscussionTable tr th {background-color: #BDD5C3; color: #000; padding: 4px;}
.DiscussionTable tr td {background-color: #fff; color: #000; padding: 4px;}
.TitleCell, .UpdatedCell {text-align: left;}
.TopicCell, .CommentCell, .AuthorCell {text-align: center;}
tr.DiscussionComment td div.comment-avatar {border: 0; float: none;}
.author-byline {padding-top: 5px; padding-bottom: 25px;}
div#adblock {background-color: #fff; color: #000; padding: 4px; text-align: center;}

/* ********************************************** */
/* *                 MISC STYLES                  */
/* ********************************************** */
.Navigator {margin: 0; padding: 5px; text-align: center; white-space: nowrap;}
.spacer {clear: both; float: none;}
.thispage {border: 0 !important; background-color: transparent !important;}

/* Area Stylesheet */
.item-title {text-decoration: none; margin-bottom: 0; padding-bottom: 0;}
.item-nav {margin-top: 0;}
.byline {padding-top: 3px; border-top: 1px dotted #ccc; color: #666;}
.author a {text-decoration: none; color: #666;}
.subarea-wrapper {border-bottom: 2px dotted #666;}
.subarea {width: 200px; float: left; margin: 0 10px 10px 0;}
.subarea-name {font-weight: bold;}
