<div class="SearchForm">
    <form action="{{ URL.SiteRoot }}search.php" method="get">
        <p>
            <input type="hidden" name="go" value="yes">
            <input class="text-q" type="text" id="q" name="q" size="20">
            <input class="button submit-search" type="submit" value="Search" >
        </p>
    </form>
</div>