  /*
    Injader Default Theme
    Stylesheet
    Coded by Ben Barden
    
    Feel free to copy this theme and use it to build new themes.
    The whole point of it is to provide a basic functional site
    that can be modified to suit your needs.
    
    If you've got suggestions for this theme, please go to
    http://www.injader.com and you can post them in the
    Suggestions forum.
  */

/* ********************************************** */
/* *              CORE FONT STYLES                */
/* ********************************************** */
body {font-family: Arial, sans-serif; font-size: 0.8em; line-height: 1.65em;}
h1, h2, h3, h4 {font-family: Arial, Helvetica, sans-serif; font-weight: bold;}
h1 {font-size: 170%;}
h2 {font-size: 160%;}
h3 {font-size: 150%;}
h4 {font-size: 140%;}
h1 a, h2 a, h3 a, h4 a {text-decoration: none;}
.smalltext, .navtext {font-size: 90%;}
input, option {font-size: 90%;}
a, a:link, a:active {color: #00e;}
a:visited {color: #551A8B;}
a:hover {color: #f00;}

/* ********************************************** */
/* *              TEMPLATE STYLES                 */
/* ********************************************** */

/* Wrapper Styles */
body {background-color: #000; color: #fff;}
body {margin: 0; padding: 0;}
#tplMajWrapper {background-color: #fff; border-right: 2px solid #fff; border-left: 2px solid #fff; color: #000;}
#tplMajWrapper {margin: 0 auto 0 auto; width: 95%; padding: 0;}

/* Header Styles */
#tplMajHeader {background-color: #004E99; border-bottom: 1px solid #fff; color: #fff; margin-bottom: 1px;}
#tplMajHeader {height: 80px; margin: 0; padding: 10px;}
#tplMajHeader h1 {font-size: 260%; font-weight: bold; margin: 10px 0 0 5px; text-align: left;}

/* ********************************************** */
/* *                NAVBAR STYLES                 */
/* ********************************************** */
#tplMajNavbar {background-color: #276FB9; color: #fff; border-bottom: 1px solid #fff;}
#tplMajNavbar {font-family: Arial, sans-serif; font-size: 120%; line-height: 0.75em; margin: 0; padding: 12px 0 12px 0;}
#tplMajNavbar ul li.off, #tplMajNavbar ul li a:link, #tplMajNavbar ul li a:visited {background-color: transparent; color: #fff;}
#tplMajNavbar ul li.on, #tplMajNavbar ul li a:link.on, #tplMajNavbar ul li a:visited.on, #tplMajNavbar ul li a:hover {background-color: #fff; color: #000;}

#tplMajNavbar ul {margin: 0px 4px; padding: 0; text-align: left;}
#tplMajNavbar ul li.off, #tplMajNavbar ul li.on {display: inline; list-style: none; margin: 0 2px 0 2px; padding: 6px; text-align: center; white-space: nowrap;}
#tplMajNavbar ul li a:link, #tplMajNavbar ul li a:visited, #tplMajNavbar ul li a:hover {padding-left: 0.1em; width: auto;}
#tplMajNavbar ul li a:link, #tplMajNavbar ul li a:visited, #tplMajNavbar ul li a:link.on, #tplMajNavbar ul li a:visited.on, #tplMajNavbar ul li a:hover {text-decoration: none;}

/* Content Styles */
.content {vertical-align: top;}
#tplMajContent {background-color: #fff; border-left: 1px solid #1414FF; border-right: 1px solid #1414FF; color: #000; padding: 10px;}
#tplMajLeftSide, #tplMajContent, #tplMajRightSide {border-top: 2px solid #000; padding-top: 10px;}

/* Sidebar Styles */
.sidebar {font-family: Verdana, Arial, sans-serif; font-size: 85%; line-height: 1.3em; width: 150px; padding: 5px; vertical-align: top;}
.sidebar h2 {background-color: #009999; color: #fff; font-size: 130%; font-weight: bold; margin: 0 0 10px 0; padding: 5px;}
#tplMajLeftSide {background-color: #fff; color: #000;}
#tplMajRightSide {background-color: #fff; color: #000;}

/* Footer Styles */
#tplMajFooter {background-color: #1414FF; color: #fff; border-bottom: 1px solid #fff; font-family: Verdana, sans-serif; font-size: 85%;}
#tplMajFooter a {background: inherit; color: #fff;}

/* ********************************************** */
/* *              RELATED CONTENT                 */
/* ********************************************** */
#mRelated {}
#mRelated p {font-size: 120%;}
#mRelated ul {list-style-type: none; margin: 0; padding: 0;}
#mRelated ul li {font-size: 90%; font-weight: normal; margin: 5px; padding: 2px 5px;}
#mRelated ul li * {}
.mRelatedMatches {font-style: italic;}

/* ********************************************** */
/* *                  COMMENTS                    */
/* ********************************************** */
.comment {color: #000; margin: 0 0 25px 0; }
.comment-avatar {float: left; margin-right: 10px; padding: 1px; border: 1px dotted #304687;}
.comment-author, .comment-author * {color: #304687;}
.comment-author {font-size: 100%; margin: 0; padding: 2px 0px 10px 0px; border-bottom: 1px dotted #304687;}
.comment-author a {color: #304687;}
.comment-content {font-size: 100%; margin: 2px 10px 2px 0; padding: 4px;}
.comment-edit {font-size: 90%; font-style: italic;}
#CommentForm #txtContent {height: 150px; width: 450px;}

/* ********************************************** */
/* *                 MISC STYLES                  */
/* ********************************************** */
.Navigator {margin: 0; padding: 5px; text-align: center; white-space: nowrap;}
.spacer {clear: both; float: none;}
.thispage {border: 0 !important; background-color: transparent !important;}

/* Area Stylesheet */
.item-title {text-decoration: none; margin-bottom: 0; padding-bottom: 0;}
.item-nav {margin-top: 0;}
.byline {border-top: 1px dotted #666; color: #666; font-family: Verdana, sans-serif; font-size: 85%; padding-top: 3px;}
.author a {text-decoration: none; color: #666;}
.subarea-wrapper {border-bottom: 2px dotted #666;}
.subarea {width: 200px; float: left; margin: 0 10px 10px 0;}
.subarea-name {font-weight: bold;}
