{% if Area.Subareas %}
    {% for Item in Area.Subareas %}
    <p><a href="{{ cmsLink('area', Item.Id) }}">{{ Item.Name }}</a>
    {% if Item.Desc %}
    <br>{{ Item.Desc }}
    {% endif %}
    </p>
    {% endfor %}
{% else %}
    <p>No subareas.</p>
{% endif %}
