@import "interface-panels.css";
@import "interface-nav-btns.css";

/* Remove default formatting */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
em, strong { font-style: normal; font-weight: normal; }
table { border-collapse: collapse; }
fieldset, img { border: 0; }
ol, ul { list-style: none; }

/* Standard fonts formatting */

body { font: 13px Arial, "Helvetica", sans-serif; line-height: 1.22em }
table { font-size: inherit; }

/* Global */

body { background:url('images/bg.jpg') repeat-x; background-color:#f0f9f6; color:#0a3e2b; text-align:center; }

p { margin:7px 0 7px 0; }
em { font-style:italic; }

a { color:#0a3e2b; }

strong { font-weight:bold; }

#header, #content, #footer { clear:both; margin:0 auto; width:900px; text-align:left; }
#content {width: 800px;}

.panel .body .btn-primary a, .panel .body .btn-primary a:hover { color:#ffffff; }

form input, form select { padding:2px; }

/* Header */
#header { padding-top:30px; height:100px; }
	#header h1 { float:left; padding-top:38px; height:50px; font-size:300%; font-weight:normal; }
	#header .logo { float:right; }

/* Footer */
#footer { padding:20px 0 20px 0; line-height:1.4em; }
	#footer p { font-size:95%; }
		#footer .about { font-size:85%; }
		#footer .copyright { float:right; }