{% extends "core/base.twig" %}

{% block cms_page_description %}
{{ Area.Desc }}
{% endblock cms_page_description %}

{% block cms_content %}
{% if Area.Content %}
{% for Item in Area.Content %}
    <div class="blog-post">
        <h2 class="blog-post-title">{{ Item.Title }}</h2>
        <p class="blog-post-meta">{{ Item.Date }}{# by <a href="#">Mark</a>#}</p>
        {{ Item.Body|raw }}
    </div><!-- /.blog-post -->
{% endfor %}
{% endif %}
    {#

    <ul class="pager">
        <li><a href="#">Previous</a></li>
        <li><a href="#">Next</a></li>
    </ul>
    #}
{% endblock cms_content %}
